Source: dynalogin
Section: admin
Priority: optional
Maintainer: Daniel Pocock <daniel@pocock.com.au>
Build-Depends: cdbs, debhelper (>= 7.0.0), libapr1-dev, liboath-dev, unixodbc-dev
Homepage: http://www.dynalogin.org/
Standards-Version: 3.9.2
DM-Upload-Allowed: yes

Package: libdynalogin-1-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: dynalogin - two-factor HOTP authentication - implementation libs
 dynalogin is a two-factor authentication framework based on the HOTP
 (Open Authentication) algorithm.  Dynalogin can store credentials in
 any database supported by UNIXODBC, which makes the solution
 robust and scalable.  It can also store credentials in flat files
 if desired.  dynalogin has been successfully integrated in solutions
 for OpenID, making it possible to use two-factor authentication with
 hundreds of other web applications and public web sites.  There is a
 dynalogin soft-token for Android.
 .
 This library is used by a dynalogin authentication server or any other
 software component that wants to implement the HOTP algorithm internally.
 The package also includes various storage modules (file storage
 and UNIXODBC) for retaining the user credentials and algorithm data.
 
Package: dynalogin-server
Section: admin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: dynalogin - two-factor HOTP authentication - server daemon
 dynalogin is a two-factor authentication framework based on the HOTP
 (Open Authentication) algorithm.  Dynalogin can store credentials in 
 any database supported by UNIXODBC, which makes the solution
 robust and scalable.  It can also store credentials in flat files
 if desired.  dynalogin has been successfully integrated in solutions
 for OpenID, making it possible to use two-factor authentication with
 hundreds of other web applications and public web sites.  There is a
 dynalogin soft-token for Android.
 .
 This package provides dynalogind, the server daemon for a dynalogin
 two-factor authentication server.

Package: dynalogin-client-php
Section: web
Architecture: any
Description: dynalogin - two-factor HOTP authentication - PHP authentication
 dynalogin is a two-factor authentication framework based on the HOTP
 (Open Authentication) algorithm.  Dynalogin can store credentials in 
 any database supported by UNIXODBC, which makes the solution
 robust and scalable.  It can also store credentials in flat files
 if desired.  dynalogin has been successfully integrated in solutions
 for OpenID, making it possible to use two-factor authentication with
 hundreds of other web applications and public web sites.  There is a
 dynalogin soft-token for Android.
 .
 This package provides a PHP client for the dynalogin server.  It allows
 PHP applications to validate a user login attempt.  It is intended as a
 foundation for login forms, OpenID providers and similar code.

